@font-face {
    font-family: 'Splatoon1';
    src: url('https://splatube.github.io/filestore/fonts/splatoon1-font/Splatfont.eot');
    src: url('https://splatube.github.io/filestore/fonts/splatoon1-font/Splatfont.eot?#iefix') format('embedded-opentype'),
        url('https://splatube.github.io/filestore/fonts/splatoon1-font/Splatfont.woff2') format('woff2'),
        url('https://splatube.github.io/filestore/fonts/splatoon1-font/Splatfont.woff') format('woff'),
        url('https://splatube.github.io/filestore/fonts/splatoon1-font/Splatfont.ttf') format('truetype'),
        url('https://splatube.github.io/filestore/fonts/splatoon1-font/Splatfont.svg#Splatfont') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}